/* import(https://raw.githubusercontent.com/vladimirok5959/assets/main/css/reboot.css) */
/* import(https://raw.githubusercontent.com/vladimirok5959/assets/main/css/grid.css) */
/* import(https://raw.githubusercontent.com/vladimirok5959/assets/main/css/controls/button/button.css) */
/* import(https://raw.githubusercontent.com/vladimirok5959/assets/main/css/controls/input/text.css) */

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	height: 0px;
	border: none;
	border-top: 1px solid #dee2e6;
}

html,
body {
	height: 100%;
}

body {
	background-color: #eee;
}

.v-center {
	-ms-flex-wrap: wrap;
	display: -ms-flexbox;
	display: flex;
	flex-shrink: 0;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.v-center-row {
	-ms-flex-item-align: center !important;
	align-self: center !important;
	flex: 0 0 100%;
	padding: 15px 0px;
}

.card {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #dee2e6;
	padding: 25px;
}

.header {
	padding-bottom: 15px;
}

.header h1,
.header h2 {
	margin-bottom: 0;
	text-align: center;
}

main h2 {
	font-size: 14px;
	margin-bottom: 25px;
	word-break: break-word;
}

main hr {
	margin: 0;
}

main form .form-control,
main form button {
	margin-top: 25px;
	width: 100%;
}

.footer {
	font-size: 0.9rem;
	padding-top: 15px;
	text-align: center;
}

@media (min-width: 576px) {
	header,
	main,
	footer {
		margin: 0px auto;
		width: 400px;
	}
}
